<!DOCTYPE html>
<html ng-app="resource">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Users</title>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/dcalendar.picker.css"/>
		<link rel="stylesheet" href="css/app.css"/>
		<script src="javascript/jquery-1.12.0.min.js"></script>
		<script src="javascript/dcalendar.picker.js"></script>
		<script src="javascript/bootstrap.min.js" type="text/javascript"></script>
		<script src="javascript/angular.min.js"></script>
		<script src="javascript/tracker.js"></script>
		<script src="controller/tracker.client.resourceController.js"></script>
		<script>
			function addResource(){
				  $("#dataDiv").hide();
				  $("#updateResource").hide();
				  $("#addresource").show();
			  }
			function updateProfile(){
				 $("#dataDiv").hide();
				  $("#addresource").hide();
				  $("#updateResource").show();
				
			}
		</script>
	</head>
<body ng-controller="resourceController">

	<div class="row col-md-12 form-login">
	
		<div class="row col-md-12">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="dashboard.html" onclick="submitForm('dashboard')">DashBaord</a>
		    </div>
		    <ul class="nav navbar-nav">
				<li><a href="leaves.html">Leaves</a></li>
				<li><a href="tickets.html">Tickets</a></li>
				<li><a href="resource.html">Profile</a></li>
				<!-- <li><a href="timesheet.html">TimeSheet</a></li> -->
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="logOut.html"><span class="glyphicon glyphicon-log-in"></span> </a></li>
		    </ul>
		  </div>
		</nav>
		</div>
		
		<div class="row col-md-12" id="dataDiv">

		<table id="myTable" class="table table-bordered table-hover table-condensed">
		<!-- <table id="myTable" class="ui celled table"> -->
		
			<thead class="sorting">
				<tr>
					<td><label>Name</label></td>
					<td><label>Phone Number</label></td>
					<td><label>IBM Id</label></td>
					<td><label>IBM Email</label></td>
					<td><label>Honda Id</label></td>
					<td><label>Honda Email</label></td>
					<td><label>Location</label></td>
					<td><label>Manager</label></td>
					<td><label>Role</label></td>
					<td><label>Project</label></td>
					<td><label>Start Date</label></td>
				</tr>
			</thead>
			<tbody ng-repeat="resource in resourceData">
					<tr>
						   <input type="hidden" value={{resource._id}}/>
						   <td><a href="#" onClick="updateProfile()" ng-click="fetchOneResource(resource)">{{resource.ibmid}}</a></td>
						    <td>{{resource.name}}</td>
						   <td>{{resource.phonenumber}}</td>
						   <td>{{resource.ibmEmailId}}</td>
						   <td>{{resource.hondaId}}</td>
						   <td>{{resource.hondaEmailId}}</td>
						   <td>{{resource.location}}</td>
						   <td>{{resource.manager}}</td>
						   <td>{{resource.role }}</td>
						   <td>{{resource.project }}</td>
						   <td>{{resource.startDate | date:'dd/MM/yyyy' }}</td>
					</tr>
			</tbody>
		</table>
			<div class="row col-md-8"><div style="height:10px;"></div></div>
			<div class="row col-md-offset-6 col-md-2"><button type="submit" value="btn" class="btn btn-sm btn-info" onClick="addResource()">Add</button></div>
		</div>
		
		<div class="row col-md-8" id="addresource" style="display:none">
			<form:form action="saveProfile.html" modelAttribute="resource" method="post">
			
			<div class="row col-md-8"><label>IBM Id:</label><input type="text" id="ibmid" ng-model="addResource.ibmid" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
			
			<div class="row col-md-8"><label>Name:</label><input type="text" id="name" ng-model="addResource.name" class="form-control input-sm"/></div>
			<div class="row col-md-8"><div style="height:10px;"></div></div>
			<div class="row col-md-8"><label>Phone Number:</label><input type="text" id="phonenumber" ng-model="addResource.phonenumber"  class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>IBM Email Id:</label><input type="text" id="ibmEmailId" ng-model="addResource.ibmEmailId" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div>
	        
	        <div class="row col-md-8"><label>Honda Id:</label><input type="text" id="hondaId" ng-model="addResource.hondaId" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Honda Email Id:</label><input type="text" id="hondaEmailId" ng-model="addResource.hondaEmailId" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Location:</label><input type="text" id="location" ng-model="addResource.location" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Manager:</label><input type="text" id="manager" ng-model="addResource.manager" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Role:</label><input type="text" id="role" ng-model="addResource.role" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Project:</label><input type="text" id="project" ng-model="addResource.project" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> 
	        
	        <div class="row col-md-8"><label>Password:</label><input type="password" id="password" ng-model="addResource.password" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div>
			
			 <div class="row col-md-8"><label>Start Date:</label><input type="text" id="startDate" ng-model="addResource.startDate" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div>
	        
	        <!-- <div class="row col-md-8"><label>Start Date:</label><input type="text" id="startDate" ng-model="addResource.startDate" class="form-control input-sm"/></div>
	        <div class="row col-md-8"><div style="height:10px;"></div></div> -->
	        
	        <div class="row col-md-offset-6 col-md-2"><button type="submit" value="btn" class="btn btn-sm btn-info" ng-click="saveResource()">Save</button></div>
	        <div class="row col-md-8"><div style="height:40px;"></div></div>
	       </form:form>
	     </div>
	     
	     
	     
	     <div class="row col-md-12" id="updateResource" style="display:none">
			<form:form action="updateProfile.html" method="post">
			
			<div class="form-group"><label for="ibmid" class="col-sm-2 control-label">IBM Id:</label>
			<div class="col-sm-4"><input type="text" id="ibmid" ng-model="resource.ibmid" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="form-group"><label for="name" class="col-sm-2 control-label">Name:</label>
			<div class="col-sm-4"><input type="text" id="name" ng-model="resource.name" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div> 
	        
	        <div class="form-group"><label for="phonenumber" class="col-sm-2 control-label">Phone Number:</label>
			<div class="col-sm-4"><input type="text" id="phonenumber" ng-model="resource.phonenumber" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div> 
	        
	        <div class="form-group"><label for="ibmEmailId" class="col-sm-2 control-label">IBM Email:</label>
			<div class="col-sm-4"><input type="text" id="ibmEmailId" ng-model="resource.ibmEmailId" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="form-group"><label for="hondaId" class="col-sm-2 control-label">Honda:</label>
			<div class="col-sm-4"><input type="text" id="hondaId" ng-model="resource.hondaId" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="form-group"><label for="hondaEmailId" class="col-sm-2 control-label">Honda Email:</label>
			<div class="col-sm-4"><input type="text" id="hondaEmailId" ng-model="resource.hondaEmailId" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div> 
			
			<div class="form-group"><label for="location" class="col-sm-2 control-label">Location:</label>
			<div class="col-sm-4"><input type="text" id="location" ng-model="resource.location" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
			
	        <div class="form-group"><label for="manager" class="col-sm-2 control-label">Manager:</label>
			<div class="col-sm-4"><input type="text" id="manager" ng-model="resource.manager" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="form-group"><label for="project" class="col-sm-2 control-label">Project:</label>
			<div class="col-sm-4"><input type="text" id="project" ng-model="resource.project" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="form-group"><label for="password" class="col-sm-2 control-label">Password:</label>
			<div class="col-sm-4"><input type="password" id="password" ng-model="resource.password" class="form-control input-sm"/></div></div>
	        <div class="col-md-12"><div style="height:10px;"></div></div>
	        
	        <div class="row col-md-offset-6 col-md-2"><button type="submit" value="btn" class="btn btn-sm btn-info" ng-click="updateResource()">Update</button></div>
	        <div class="row col-md-8"><div style="height:40px;"></div></div>
	       </form:form>
	     </div>
	     
	     
	     
	</div>            	
</body>
</html>
